
 <%=render "layouts/navbar"%> 




  <div class="user-prof">
    <div class="prof-set">
      名前：<%= @user.name%>
    </div>
    <div class="prof-set">
      メール：<%= @user.email%>
    </div>
      
      <!--登録した書籍の総数を表示予定-->
    <div class="prof-set">
      <p>書籍数</p>
      <ul>
        <li>所有書籍：<%= @count_own %></li>
        <li>未所持書籍：<%= @count_notyet %></li>
      </ul> 
    </div>
    
    <div>
      <%= link_to 'ユーザー情報の変更', edit_user_path(@user) %>
    </div>
    <div>
      <%= link_to "退会する",user_path(current_user.id), data: {confirm: '退会しますか？' },method: :delete %>
    </div>
  </div>