<div id="gradation-image" class="mb-3">
  <div>
    <p class="gradation-content font-select">Book Record</p>
    <%= form_tag(own_books_path, method: :get, class: "search_name" ) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', name: nil %>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item"><a href="<%= own_books_path %>" class="nav-link <%= 'active' if current_page?(own_books_path) %>">所有済み  <span class="badge badge-secondary"><%= @count_own %></span></a></li>
  <li class="nav-item"><a href="<%= notyet_books_path %>" class="nav-link <%= 'active' if current_page?(notyet_books_path) %>">未所有<span class="badge badge-secondary"><%= @count_notyet %></span></a></li>
  <li class="nav-item"><a href="<%= likes_books_path %>" class="nav-link <%= 'active' if current_page?(likes_books_path) %>">お気に入り<span class="badge badge-secondary"><%= @count_favorites %></span></a></li>
</ul>

<div>

  <div class="container">
    <div class="row ustify-content-center">
      <% @books.each do |book| %>
        <div class="col-sm-4 col-md-3 col-lg-2 col-4 mb-4">
          <div style="text-align: center;">
            <%= link_to book do%>
              <%if book.image? %>   
              
                <%= image_tag book.image.url if book.image? %>
              
              <%else%>
              
                <%= image_tag "/assets/no_image.gif", :size => '136x200'%>
              
              <%end%>
            <% end %> 
            <div>
              <%= link_to book.title, book %> 
            </div>
            <div>
              <%= render 'favorites/favorite_button', book: book %>
            </div>   
          </div> 
        </div>
      <% end %>
    </div>
  </div>
</div>