<%=render "layouts/navbar"%>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_for(@book) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
     
      <div class="form-group">
        <%= f.label :title, '作品名' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
     
      <div class="form-group">
        <%= f.label :library, '文庫名' %>
        <%= f.text_field :library, class: 'form-control' %>
      </div>
     
      <div class="form-group">
        <%= f.label :image, '表紙画像' %>
        <%= f.file_field :image, class: 'form-control' %>
      </div>
     
      <div class="form-group">
        <%= f.label :status, '所有済み' %>
        <%= f.check_box :status, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :memo, 'メモ' %>
        <%= f.text_field :memo, class: 'form-control' %>
      </div>
     
      <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>


