<%=render "layouts/navbar"%>
<div id="gradation-image" class="mb-3">
  <div>
    <p class="gradation-content font-select">Book Record</p>
    <%= form_tag(notyet_books_path, method: :get, class: "search_name" ) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', name: nil %>
    <% end %>
  </div>
</div>
<%=render "main_contents"%>
