<%=render "layouts/navbar"%>


<div id="gradation-image">
  <div class="font-select">
    <p class="gradation-content">Book Record</p>
  </div>
</div>

<%= link_to '新規作成', new_book_path %>
<div>
    <div class="container">
      <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-3">
            <%= link_to book.id, book %> : <%= book.title %>
            <%= book.image%>
          </div>
        <% end %>
      </div>
    </div>
</div>