<%=render "layouts/navbar"%>
<div class="user-prof">
  <%if @book.image? %>
    <div style="height: 200px; margin-bottom: 150px;"%>
      <%= image_tag @book.image.thumb.url, class: "image-style"%> 
    </div>
  <%else%>
    <div style="height: 200px; margin-bottom: 150px;"%>
      <%= image_tag "/assets/no_image.gif", class: "image-style", :size => '250x300'%> 
    </div>
  <%end%>  
    <div class="prof-set">
      名前：<%= @book.title%>
    </div>
    <div class="prof-set">
      作者：<%= @book.author%>
    </div>
    <div class="prof-set">
      文庫名：<%= @book.library%>
    </div>
      
      <!--登録した書籍の総数を表示-->
    <div class="prof-set">
      所有状況：<%= @status%>
    </div>
    
    <div class="prof-set">
      メモ：<%= @book.memo%>
    </div>
    
    <div>
      <%= link_to '書籍情報の変更', edit_book_path(@book)%>
    </div>
    <div>
      <%= link_to "削除する", @book, method: :delete, data: { confirm: "削除しますか?" } %>
    </div>
</div>
    
    