<%=render "layouts/navbar"%>
<div class="user-prof">
    <div style="height: 200px; margin-bottom: 150px;"%>
      <%= image_tag (@book.image.thumb.url if @book.image?), class: "image-style"%>
    </div>
    <div class="prof-set">
      名前：<%= @book.title%>
    </div>
    <div class="prof-set">
      文庫名：<%= @book.library%>
    </div>
      
      <!--登録した書籍の総数を表示予定-->
    <div class="prof-set">
      所有状況：<%= @status%>
    </div>
    
    <div class="prof-set">
      メモ：<%= @book.memo%>
    </div>
    
    <%
=begin%>
 <div class="prof-set">
      表紙画像：<%= image_tag(@book.image.to_s) %>
    </div> 
<%
=end%>
    
    <div>
      <%= link_to '書籍情報の変更', edit_book_path(@book)%>
    </div>
    <div>
      <%= link_to "削除する", @book, method: :delete, data: { confirm: "削除しますか?" } %>
    </div>
</div>
    
    