<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand font-select" href="/">BR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown ">
            <a href="#" class="nav-link dropdown-toggle parent1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">書籍情報</a>
            <ul class="dropdown-menu down1" aria-labelledby="navbarSupportedContent">
              <li class="dropdown-item"><%= link_to '所有済', own_books_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '未所持', notyet_books_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'お気に入り', likes_books_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '新規作成', new_book_path %></li>
            </ul>
            
          </li>
          <li class="nav-item"><%= link_to '書籍登録', new_book_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown parent2">
            <a href="#" class="nav-link dropdown-toggle parent2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right down2" aria-labelledby="navbarSupportedContent">
              <li class="dropdown-item"><%= link_to 'プロフィール', current_user %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to "新規登録", signup_path, class: "nav-link font-select" %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link font-select' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>